@import "@fontsource-variable/rubik";
@import "tailwindcss";

@plugin "tailwindcss-react-aria-components";

@theme {
  --font-display: "Rubik Variable", sans-serif;

  --color-purple-*: initial;
  --color-purple-900: #322659;
  --color-purple-700: #553c9a;
  --color-purple-500: #805ad5;
  --color-purple-100: #e9d8fd;
}
